body {
    background-color: #f1f1f1;
    color: #0f141e;

    font-size: 16px;
    font-weight: normal;
    font-family: 'Roboto', sans-serif;


}

a {
    color: #000;
    text-decoration: none;
}


a:hover {
    text-decoration: underline;
}
 a:active {
    color: blue;
 }

 a:visited {
    color: #86898f;
 }

.avatar {
    width: 200px;
    border-radius: 28px;
    box-shadow: 4px 4px 14px rgba(0, 0, 0, 0.25);
}

.info {
    display: flex;
    margin-bottom: 20px;
}

@media (max-width: 700px) {
    .info {
        text-align: center;
        display: block;
    }
}

.info-text {
    margin-left: 40px;
}

.info-text h4 {
    margin-bottom: 10px;
}

.info p {
color: #86898f;
margin: 0;
font-style: italic;
font-weight: bold;
text-decoration: none;

}

.container {
 max-width: 750px;
 margin: auto; 
 padding-top: 30px; 
}

/* .job {
    background: green;
    padding: 15px;
    margin: 5px;

    border: 5px solid red;
    border-bottom-style: double;
    border-top-width: 15px;
    border-right-color: aqua; 
} */



.bg-blue {
    background: #cbc7f0;
}


.card {
    padding: 15px 20px;
    margin-bottom: 20px;
    border-radius: 20px;
}

.card h2 {
    margin-bottom: 10px;
}

.list {
    padding: 0 20px;
}

.list li {
color: #555557;
margin-bottom: 10px;
}

.table {
    width: 100%;
}

.table td {
    padding-bottom: 10px;
}

.table td:nth-child(1){
    color: #555557
}

.table td:nth-child(2){
    color: #555557
}

.table td:nth-child(3){
    color: #555557
}